#navbar, #banda .card-header, #banda .card-footer{
    background-color: #ffc107 !important;
}

#sucesso{
    background-color:#212529;
}

#memoria{
    background-color: #138044;
    color: white;
    font-weight: bold;
    font-size: larger;
}

p b{
    color: #ffc107;
}